<div class="jumbotron">
  <h1>Follow Your Life</h1>
  <p class="lead">Our actions become our habits. Habitufy yours.  </p>
  <p><a class="btn btn-lg btn-success" href="users/sign_up">Sign up today</a></p>
</div>

<div class="marketing">
  <div class="col-lg-12">
    <h4 class="heading">Purpose</h4>
    <p class="writing">We built Habitufy, because we want to see our information about our lives displayed in ways that are visually appealing and informative. If that's you, then join us and <a class="link" href="users/sign_up">habitufy your life</a></p>

    <h4 class="title">Text Habitufy Your Activities</h4>
    <p class="writing">Everytime you text Habitufy an update, it adds it to your online profile. </p>

    <h4 class="title">Hourly Reminders</h4>
    <p class="writing"> To help us out, we set Habitufy to send hourly reminders. But Habitufy isn't needy and won't spam you with reminders.</p>

    <h4 class="title">Cost</h4>
    <p class="writing">Every member gets a week to test out Habitufy and track your activities. Once you've gotten to experience and love Habitufy, it's simply $10/month.</p>

    <p class="center"><a class="btn btn-lg btn-success" href="users/sign_up">Start your trial</a></p>
  </div>

</div>